.boxContainer {
  padding: 25px 15px;
  padding-bottom: 35px;

  .text {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #dee2e1;
    text-shadow: 0 1px 1px 0 #0c0d1f;
  }
}
